#logo {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
#briksdal {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#decapod {
    position: fixed;
    left: 70px;
    top: -18px;
    color: black;
    text-align: left;
    font-size: 34px;
}
#slogan {
    font-family: relation-one;
    position: fixed;
    left: 71px;
    top: 32px;
    color: black;
    font-size: 15px;
}
.nav {
    display: grid;
    grid-template-columns: 10fr 18fr 18fr 12fr 16fr 25fr 40fr;
    grid-column-gap: 60px;
    font-family: raleway;
    overflow: hidden;
    position: fixed;
    left: 20%;
    top: -0px;
}
.nav > a{ 
    background: none;
    padding: 30px 0px;
}
.nav > a:nth-child(odd){
    background: none;
}
.nav a {
    float: left;
    color: black;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    opacity: 100%;
}
.nav a:hover {
    text-decoration: underline;
}
#maintitle {
    color:#f9f9f9;
    font-size: 75px;
    font-family: relation-one;
    text-align: center;
    top: 30vh;
    position:relative;
}
#supportingtext {
    color: #f9f9f9;
    font-size: 30px;
    font-family: relation-one;
    text-align: center;
    position:relative;
    top:23vh;
}
#crab {
    float: right;
    position: relative;
    top: 60rem;
    object-fit:cover;
    width:40rem;
}
#abouttitle {
    position:relative;
    top: 50rem;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
}
.abouttext1 {
    position:relative;
    top:110vh;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size:1.5rem;
    line-height: 0.5rem;
    text-align:center;
}
.abouttext2 {
    position:relative;
    top:110vh;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size:1.2rem;
    text-align: center;
}