/*UNIVERSAL*/
:root{
    --darkblue: #233866;
    --lightblue: #1897cc;
    --backgroundgrey: #f9f9f9;
    --darkred:#db0024;
    --textgrey: #656b6f;
}
body {
    background-color: var(--backgroundgrey);
    margin:0%;
}
#logo {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
#decapod {
    position: absolute;
    left: 70px;
    top: -18px;
    color: black;
    text-align: left;
    font-size: 34px;
}
#slogan {
    font-family: relation-one;
    position: absolute;
    left: 71px;
    top: 32px;
    color: black;
    font-size: 15px;
}
nav {
    height: 9vh;
    width: 105vh;
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin:auto;
}
nav a{
    position: relative;
    text-decoration: none;
    font-family: raleway;
    padding: 30px 0px;
    color: black;
    font-size: 15px;
    padding: 6px;
}
nav a:after{
    content: "";
    position: absolute;
    background-color: #ff9028;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 5px;
    transition: 0.3s;
}
nav a:hover{
    color:#ff9028;
}
nav a:hover:after {
    width:100%;
}
.footer{
    height: 50vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.footer-container{
    margin-bottom: 3%;
    position:absolute;
    bottom: 1rem;
    width: 100%;
}
.footer-container-text{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; 
    grid-template-areas: ". . .";
    width: 100%;
}
/*INDEX*/
.background{
    height: 100vh;
    background-image: url(../media/briksdaltop.png);
    background-size: cover;
    position: static;
    background-position: bottom;
    background-repeat:no-repeat;
}
.title {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 26vh;
}
.title-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
}
.title-title {
    color: var(--backgroundgrey); 
    font-size: 75px;
    font-family: essonnes-text;
    text-align: center;
    text-shadow:  -4px 4px 3px #2b2b2b;
    margin: 0;
}
.title-supportingtext {
    color: #f9f9f9;
    font-size: 30px;
    font-family: relation-one;
    text-align: center;
    text-shadow:  -4px 4px 3px #2b2b2b;
    margin: 0;
}
.about{
    transform: translateY(-2px);
    background-image: url(../media/Briksdalbottom.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 0.1rem;
}
.about-IMGcrab{
    float:right;
    width: 40%;
    padding-top: 10%;
}
.about-text{
    max-width: 60%;
    margin-bottom: 10rem;
}
.about-text-title {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    text-align:center;
    margin-left: 10%;
    padding-top: 0;
    margin-top: 0;
}
.about-text-body {
    margin-left: 20%;
    margin-right: 20%;
}
.about-text-body-1 {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size:1.5rem;
    line-height: 0.5rem;
    text-align:center;
}
.about-text-body-2 {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size:1.2rem;
    text-align: center;
}
.quotes {
    position:static;
    font-family: adobe-calson-pro, serif;
    font-style: normal;
    font-size: 2.5rem;
    height: 40rem;
}
@media (max-width:111rem){
    .quotes{
        height: 52rem;
    }
}
.quote-1{
    background-image: url(../media/brushstroke1.png);
    background-repeat: no-repeat;
    background-size:contain;
    margin: auto;
    max-width: 50rem;
    max-height: 30rem;
    text-align: center;
    padding: 5rem;
    padding-bottom: 10rem;
    float: left;
}
.quote-2{
    background-image: url(../media/brushstroke2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    max-width: 40rem;
    text-align: center;
    padding: 5rem;
    float: right;
}
.quote-1-text{
    width: 90%;
    margin-left: auto;
    margin-right:auto;
}
.quote-2-text{
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    transform: translateY(-2.5rem);
}
.video{
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    z-index: 1;
}
.video iframe{
   position: absolute;
   width: 80%;
   height: 80%;
   top: 0;
   left: 10%;
}
.subscribe-top{
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    text-align: center;
    white-space: nowrap;
    width: 22rem;
    height:4rem;
    transform: translateY(-8rem);
}
.subscribe-bot{
    margin-left: auto;
    margin-right:auto;
    width: 39rem;
    transform: translate(-3.5rem, -5rem);}
input{
    position:relative;
    left: 5rem;
    font-size: 2rem;
    box-sizing: border-box;
}
.button2{
    text-align: center;
    border-radius: 2rem;
    width: 15.5rem;
    margin-left: 0.5rem;
    background: #f9f9f9;
    border: 2px solid #db0024;
    color: #db0024;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
.button2:hover {
    color:white;
    background: var(--darkred)
}
.button2:active{
    letter-spacing: 2px;
}
.button2:after{
    content: "SUBSCRIBE";
}
.onclic {
    width: 40px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ECD97;
    -webkit-animation: rotating 2s 0.25s
}
/*RECIPES*/
.card{
    color:#ffffff;
    background-image: url(../media/singaporecrab.jpg);
    background-size: cover;
    padding: 10rem;
    width: 35ch;
    height: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    font-family: adobe-calson-pro;
    transition: transform 500ms ease;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.card:hover {
    transform:scale(1.05);
}
.card-content{
    width: 38rem;
    height: 35rem;
    background: rgba(24, 151, 204, 0.65);
    transition: transform 500ms ease; 
    transform: translate(-10rem, 21.5rem);
}
.card:hover .card-content {
    transform: translate(-10rem, -8.5rem);
}
.card-title {
    position: relative;
    width: 10.2rem;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(0.4rem);
}
.card-title::after {
    content:"";
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.card:hover .card-title::after {
    transform:scaleX(1);
}
.card-body{
    color: rgb(255 255 255 / 0.85);
    margin-left:auto;
    margin-right:auto;
}
.card-recipe{
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    display: grid; 
    grid-template-columns: 1.3fr 0.7fr; 
    grid-template-rows: 0.2fr 1.8fr; 
    gap: 0px 10%; 
    grid-template-areas: 
        ". ."
        ". ."; 
}
.background-recipes{
    height: 100vh;
    background-image: url(../media/chef.jpg);
    background-size: cover;
    position: static;
    background-position: bottom;
    background-repeat:no-repeat;
}
/*SUSTAINABILITY*/
.background-sustainability{
    height: 200vh;
    background-image: url(../media/Sustainability.png);
    background-size: cover;
    position: static;
    background-position: top;
    background-repeat:no-repeat;
}
.header-sustainability-container{
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    transform: translateY(18rem);
}
.starfish{
    float: left;
    transform:scaleY(-1) translateY(50rem);
}
.section{
    width: 65rem;
    height: 200rem;
    margin-left: auto;
    margin-right: auto;
}
.section1{
    margin-right: auto;
    margin-left: auto;
    width: 65rem;
    text-align: center;
    transform: translateY(-50rem);
}
.section2{
    transform: translateY(-45rem);
    text-align: center;
}
.section3{
    transform: translateY(-45rem);
    text-align: center;
}